/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.backgroundView  {
    -fx-background-image: url("../resources/startAssociete.png");
    -fx-width: 100%;
    -fx-height: 400px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.jfx-titulo-label{
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.mfx-button {
  -fx-font-family: "Open Sans Bold";
  -fx-text-fill: -mfx-text-he;
}
.mfx-button {
  -fx-background-radius: 10px;
  -fx-background-insets: 0px;
}
.btnDetailedSummarized{
    -fx-background-color: #999999;
}
.btnDetailedSummarized:pressed{
    -fx-background-color: #cccccc;
}
.btnTakePhoto{
    -fx-background-color: #ffff33;
}
.btnTakePhoto:pressed{
    -fx-background-color: #ffff99;
}
.btnPrincipals{
    -fx-background-color: #33ffff;
}
.btnExit{
    -fx-background-color: #ff0000;
}
.btnExit:pressed{
    -fx-background-color: #ff0000;
}
.btnDelete{
  -fx-background-color: #600404;
}
.btnDelete:pressed{
  -fx-background-color: #600404;
}
.btnSearch{
  -fx-background-color: #990099;
}
.btnSearch:pressed{
  -fx-background-color: #990099;
}
.btnPdf{
  -fx-background-color: #ff0000;
}
.btnPdf:pressed{
  -fx-background-color: #ffffff;
}
.btnSave{
    -fx-background-color: #009900;
}
.btnSave:pressed{
    -fx-background-color: #009900;
}
.btnAcept{
    -fx-background-color: #009900;
}
.btnAcept:pressed{
    -fx-background-color: #99ff99;
}
.btnPrincipals:focused {
    -fx-background-color: #99ffff;
}
.btnSave:hover{
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
.btnExit:hover{
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
.btnDelete:hover{
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
.btnTakePhoto:hover{
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
.btnDetailedSummarized{
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0.5, 0.0, 0.0);
}
.btnSearchName{
    -fx-background-color: none;
    -fx-text-fill: #0033ff;
    -fx-font-size: 12;
    -fx-cursor: hand;
}
.btnSearchName:hover{
    -fx-underline: true;
}
.btnSearchName:pressed{
    -fx-text-fill: #666666;
}
.jfx-panelfondo{
    -fx-effect:dropshadow(gaussian,rgba(0.0,0.0,0.0,0.15),10.0,0.7,0.0,1.5);
    -fx-background-color: #a4dcfc;
}
.mfx-table-view {
   -fx-background-color:#5686d3;
  -fx-background-radius: 5;
  -fx-border-color: lightgray;
  -fx-border-radius: 5;
  -fx-padding: 0 0 2 0;
}
fx-table-view .virtual-flow {
  -fx-background-color: transparent;
  -track-color: rgb(153, 153, 153);
  -thumb-color: rgb(51, 51, 51);
  -thumb-hover-color: rgb(51, 51, 255);
}

.jdx-bagroundITeacher{
     -fx-image:url("../resources/startTeacher.png");
}
.jdx-imageAddPhoto{
     -fx-image:url("../resources/imgAddImage.png");
}

.jfx-backgroundImage{
    -fx-image:url("../resources/BackgroundFotography.png");
    -fx-preserve-ratio: false;
}
.btnRefresh{
    -fx-background-color: #009900;
}
.jfx-btn-refreshWindown>ImageView{
    -fx-image:url("../resources/ButtonRefresh.png");
}
.jfx-btn-Search>ImageView{
    -fx-image:url("../resources/imgSearch.png");
}

.jfx-imv-5colones{
    -fx-image:url("../resources/5colones.png");
}

.jfx-imv-10colones{
    -fx-image:url("../resources/10colones.png");
}

.jfx-imv-25colones{
    -fx-image:url("../resources/25colones.png");
}

.jfx-imv-50colones{
    -fx-image:url("../resources/50colones.png");
}

.jfx-imv-100colones{
    -fx-image:url("../resources/100colones.png");
}

.jfx-imv-500colones{
    -fx-image:url("../resources/500colones.png");
}

.jfx-imv-1000colones{
    -fx-image:url("../resources/1000colones.png");
}

.jfx-imv-2000colones{
    -fx-image:url("../resources/2000colones.png");
}

.jfx-imv-5000colones{
    -fx-image:url("../resources/5000colones.png");
}

.jfx-imv-10000colones{
    -fx-image:url("../resources/10000colones.png");
}

.jfx-imv-20000colones{
    -fx-image:url("../resources/20000colones.png");
}

.jfx-btn-delete>ImageView{
    -fx-image:url("../resources/imageDelete.png");
}
.jfx-btn-mantinence>ImageView{
    -fx-image:url("../resources/imgMantenimiento.png");
}
 .jfx-btnDelete->ImageView{
    -fx-image:url("../resources/imageDelete.png");
}
.jfx-btnSave->ImageView{
    -fx-image:url("../resources/imageSave.png");
}
.jfx-btnExit->ImageView{
    -fx-image:url("../resources/imgExit.png");
}
.jfx-btnSearch->ImageView{
    -fx-image:url("../resources/imgSearch.png");
}
.jfx-btnTakePhoto->ImageView{
    -fx-image:url("../resources/imgCamera.png");
}