/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.backgroundView  {
    -fx-background-image: url("../resources/startAssociete.png");
    -fx-width: 100%;
    -fx-height: 400px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.jfx-titulo-label{
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
}

.mfx-button {
  -fx-font-family: "Open Sans Bold";
  -fx-text-fill: -mfx-text-he;
}

.mfx-button {
  -fx-background-radius: 10px;
  -fx-background-insets: 0px;
}

.mfx-button,
.mfx-button:armed,
.mfx-button:focused {
    -fx-background-color: #befdf1;
}

.btnSave{
  -fx-background-color: #33ff33;
  -fx-background-radius: 10px;
  -fx-background-insets: 0px;
}

.btnExit{
  -fx-background-color: #ff0000;
  -fx-background-radius: 10px;
  -fx-background-insets: 0px;
}

.jfx-panelfondo{
    -fx-effect:dropshadow(gaussian,rgba(0.0,0.0,0.0,0.15),10.0,0.7,0.0,1.5);
    -fx-background-color: #a4dcfc;
}

.jdx-bagroundITeacher{
     -fx-image:url("../resources/startTeacher.png");
}

.jfx-backgroundImage{
    -fx-image:url("../resources/BackgroundFotography.png");
    -fx-preserve-ratio: false;
}

.jfx-btn-refreshWindown>ImageView{
    -fx-image:url("../resources/ButtonRefresh.png");
}
.jfx-btn-Search>ImageView{
    -fx-image:url("../resources/imgSearch.png");
}

.jfx-imv-5colones{
    -fx-image:url("../resources/5colones.png");
}

.jfx-imv-10colones{
    -fx-image:url("../resources/10colones.png");
}

.jfx-imv-25colones{
    -fx-image:url("../resources/25colones.png");
}

.jfx-imv-50colones{
    -fx-image:url("../resources/50colones.png");
}

.jfx-imv-100colones{
    -fx-image:url("../resources/100colones.png");
}

.jfx-imv-500colones{
    -fx-image:url("../resources/500colones.png");
}

.jfx-imv-1000colones{
    -fx-image:url("../resources/1000colones.png");
}

.jfx-imv-2000colones{
    -fx-image:url("../resources/2000colones.png");
}

.jfx-imv-5000colones{
    -fx-image:url("../resources/5000colones.png");
}

.jfx-imv-10000colones{
    -fx-image:url("../resources/10000colones.png");
}

.jfx-imv-20000colones{
    -fx-image:url("../resources/20000colones.png");
}
/*jfx-panelfondo{
    -fx-effect:dropshadow(gaussian,rgba(0.0,0.0,0.0,0.15),10.0,0.7,0.0,1.5);
    -fx-background-color: #ecc663
}*/
///configuacion para las matas 
.mfx-table-view {
    -fx-background-color:#5686d3;
  -fx-background-radius: 5;
  -fx-border-color: lightgray;
  -fx-border-radius: 5;
  -fx-padding: 0 0 2 0;
}
//para cuando se muve
fx-table-view .virtual-flow {
  -fx-background-color: transparent;
  -track-color: rgb(230, 230, 230);
  -thumb-color: rgb(137, 137, 137);
  -thumb-hover-color: rgb(89, 88, 91);
}
.jfx-btn-delete>ImageView{
    -fx-image:url("../resources/imgDelete.png");
}
.jfx-btn-mantinence>ImageView{
    -fx-image:url("../resources/imgMantenimiento.png");
}
 .jfx-btnDelete->ImageView{
    -fx-image:url("../resources/imgDelete.png");
}
.jfx-btnDelete->ImageView{
    -fx-image:url("../resources/imgSave.png");
}
}